Model Implementation/DummyDatabase/test_images/ICDAR/.DS_Store
Model Implementation/DummyDatabase/test_images/.DS_Store
Model Implementation/DummyDatabase/models/densenet_configuration_4_model_checkpoint.pth.tar
Model Implementation/DummyDatabase/marmot_processed/.DS_Store
Model Implementation/.DS_Store
Model Implementation/DummyDatabase/.DS_Store
.DS_Store
Model Implementation/DummyDatabase/marmot_processed_1130.rar
.gitignore
Model Implementation/DummyDatabase/marmot_processed_1130/densenet_configuration_4_model_checkpoint.pth.tar
Model Implementation/DummyDatabase/marmot_processed_300/densenet_configuration_4_model_checkpoint.pth.tar
Model Implementation/DummyDatabase/models/.DS_Store
Model Implementation/DummyDatabase/models/.DS_Store
